
.walletUI {
    width: 100%;
    margin-top: 3%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.walletCompartment1, .walletCompartment2 {
    width: 32vw;
    height: auto;
    padding: 3%;
    background-color: white;
    border-radius: 10px;
}

.subWalletCompartment1, .subWalletCompartment2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5% 0;
}
.subWalletCompartment1 p, .transactionUI h3 {
    letter-spacing: 1px;
    font-size: medium;
}
.subWalletCompartment1 .walletBalance span {
    font-weight: 600;
    font-size: xx-large;
}
.subWalletCompartment1 .icon {
    font-size: larger;
}

.subWalletCompartment2 div {
    padding: 3% 12%;
}
.subWalletCompartment2 .fundWalletBtn,
.subWalletCompartment2 .withdrawBtn,
.transactBtns .transactBtn {
    font-size: small;
    border: 1px solid #ab90f7;
    cursor: pointer;
    border-radius: 5px;
}
.walletCompartment1 .active {
    color: white;
    background-color: #ab90f7;
    border: 1px solid white;
}

.transactionUI {
    margin-top: 5%;
}
.transactBtns {
    display: flex;
    align-items: center;
}
.transactBtns .transactBtn {
    font-size: small;
    padding: 2% 7%;
    margin: 5% 2%;
}
.transactionHistories {
    height: 400px;
    overflow-y: hidden;
    transition: 0.5s;
}
.transactionHistories:hover {
    overflow-y: scroll;
}
.transactionHistories .transactAdd {
    color: green;
}
.transactionHistories .transactSub {
    color: #fdc536;
}
.transactionHistories img {
    width: 40px;
    height: 40px;
    padding: 5px;
    margin-right: 14px;
}
.transactionHistories .transactionHistory {
    background-color: #ab8dfd2d;
    border-radius: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3%;
    margin: 3% 0;
    line-height: 1.2rem;
}
.transactionHistory .transactInnerStyle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.transactionHistory .transactInnerStyle h4 span {
    font-weight: 400;
    font-size: smaller;
}

.walletCompartment2 .atmCardImg {
    margin: 0 auto;
    margin-top: -30%;
    display: block;
    width: 90%;
}
.addCardUI {
    margin-top: 6%;
}
.addCardUI h4 {
    letter-spacing: 1px;
}
.addCardUI p {
    font-size: smaller;
}
.addCardUI .scanCard {
    width: 100%;
    text-align: center;
}
.scanCard .icon {
    font-size: 3rem;
    color: #ab90f7;
    padding: 1%;
    cursor: pointer;
}
.scanCard .cardIcons {
    width: 80%;
    margin: 4% auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.scanCard .cardIcons .cardIcon {
    width: 65px;
    height: 30px;
    padding: 2%;
    border-radius: 5px;
    cursor: pointer;
}
.scanCard .cardIcon.active {
    background-color: #c6b2fc;
}

.cardDetails {
    width: 80%;
    margin: 3% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cardInput, .expCvc {
    width: 100%;
    margin: 3% auto;
}
.expCvc {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.expCvc .cardInput {
    width: 40%;
    margin: 3% 0;
    position: relative;
}
.expCvc .cardInput .cvc {
    position: absolute;
    color: #d3cbdb;
    right: 2px;
    bottom: 0;
    padding: 2%;
    height: 50%;
}
.cardDetails .fundBtn {
    margin: 4% 0;
}
.cardInput small{
    display: block;
    font-weight: 500;
    /* margin-left: -70%; */
    font-size: small;
}
.cardInput input {
    width: 100%;
    padding: 3%;
    border-radius: 5px;
    border: 1px solid #eee8f5;
}
