
.noticationUI .notifyHeader,
.notifyHeader .notifyAction,
.noticationUI .notifyMssg {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.noticationUI .notifyHeader {
    padding: 2% 1%;
    font-weight: 500;
}

.notifyHeader .notifyAction {
    width: 25%;
    padding: 0 1%;
}

.notifyAction .notifyActionBtn {
    font-size: small;
    padding: 2% 3%;
    background-color: #a0b3da;
    border-radius: 10px;
    cursor: pointer;
}

.notifyAction .notifyActionBtn:nth-child(2) {
    background-color: #ab90f7;
    color: white;
}

.notifyMssg {
    background-color: white;
    border-radius: 10px;
    padding: 1% 5%;
    margin: 2% auto;
    position: relative;
}
.notifyMssg .deleteNoti {
    justify-content: center;
    display: flex;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: #ab90f7;
    border-radius: 50%;
    color: white;
    position: absolute;
    top: -2px;
    right: -2px;
    cursor: pointer;
}

.notiDetailsMain,
.notiDetailsText {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.notiDetailsMain img {
    width: 8%;
    display: block;
    border-radius: 50%;
}

.notiDetailsText {
    flex-direction: column;
    width: 100%;
    text-align: left;
    padding-left: 3%;
    align-items: flex-start;
}

.notiDetailsText h4 {
    font-weight: 500;
}

.notiDetailsText p {
    font-size: small;
}

.noticationUI .notiTime {
    width: 20%;
    color: #a0b3da;
    font-size: smaller;
}