
.orderStats, .deliveryFund {
    padding: 3% 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.orderStat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 160px;
    height: 100px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.58);
    backdrop-filter: blur(8.2px);
}
.orderStat h3 {
    font-size: medium;
    font-weight: 500;
    color: #a0b3da;
}
.orderStat h1 {
    font-weight: 600;
    color: #282c34;
}
#activeStat.orderStat {
    border: 1px solid green;
}
#cancelStat.orderStat {
    border: 1px solid red;
}

@media (max-width: 768px) {
    .orderStat {
        width: 20%;
        height: 80px;
    }
    .orderStat h1 {
        font-size: medium;
    }
}

@media (max-width: 425px) {
    .orderStats {
        margin: 5% 0;
        flex-wrap: nowrap;
        overflow-x: auto;
    }
    .orderStat {
        flex: 0 0 auto;
        width: 120px;
        height: 80px;
        margin: 0 3%;
    }
    .orderStat h1 {
        font-size: medium;
    }
}