@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Fredoka', sans-serif;
}

::selection {
  background: #a3a5f7b4;
  /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: #a3a5f7b4;
  /* Gecko Browsers */
}

body {
  background-color: #f2edfc;
  color: #282c34;
  position: relative;
}

a {
  text-decoration: none;
}

body::-webkit-scrollbar {
  width: 12px;
  /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #282c34;
  /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #ab90f7;
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 3px solid #282c34;
  /* creates padding around scroll thumb */
}

.recentDeliveriesCards::-webkit-scrollbar,
.orderStats::-webkit-scrollbar {
  height: 6px;
}

.recentDeliveriesCards::-webkit-scrollbar-track,
.orderStats::-webkit-scrollbar-track {
  background: #282c34;
}

.recentDeliveriesCards::-webkit-scrollbar-thumb,
.orderStats::-webkit-scrollbar-thumb {
  background: #ab90f7;
  border-radius: 10px;
}

.transactionHistories::-webkit-scrollbar {
  width: 6px;
  /* width of the entire scrollbar */
}

.transactionHistories::-webkit-scrollbar-track {
  background: #282c34ce;
  border-radius: 20px;
}

.transactionHistories::-webkit-scrollbar-thumb {
  background-color: #ac90f7c9;
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}




html {
  scroll-behavior: smooth;
}

#header {
  background: linear-gradient(to right, #000000ab 60%, black 25%), url(./images/templates/Truck-landing.jpg) no-repeat center center/cover;
}

.line::after {
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 30%;
  height: 5px;
  background: rgb(163, 160, 160);
  display: block;
}

.dot::after {
  content: '';
  position: absolute;
  top: 0;
  left: -20px;
  width: inherit;
  height: inherit;
  background: rgb(67, 129, 223);
  border-radius: 50%;
  display: inline-block;
}

/*

.footer-cont {
  @apply flex flex-col items-center justify-center p-4 pb-0 mt-5 h-auto gap-x-4 gap-y-2 md: p-8 md:flex-row
}

.footer-header {
  @apply tracking-wide text-gray-700 text-lg font-bold
}

.footer-text {
  @apply block font-bold text-sm text-gray-500
}

.footer-link {
  @apply font-bold text-base text-gray-600
} */


@media (max-width: 768px) {
  #header {
    background: linear-gradient(to bottom, #000000b0 60%, #000000b0 40%), url(./images/templates/Truck-landing.jpg) no-repeat center center/cover;
  }

  .up {
    display: block;
  }
}